.img-home {
    filter: grayscale(0.1) blur(0.5px) contrast(0.9) sepia(0.1) brightness(0.4);
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-img-text {
    font-size: 12vw;
    text-justify: center;
    color: rgb(220, 220, 220);
    text-shadow: 0vw 0vw 1vw black;
}

.school-logo {
    max-width: 100%;
    filter: opacity(65%) grayscale(30%);
}

.school-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vw;
    padding-bottom: 3vw;
}

.location {
    font-size: 3.25vw;
    font-weight: lighter;
    padding-bottom: 2vw;
}

.school-header {
    font-size: 5vw;
    font-weight: lighter;
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
    z-index: 5;
    text-shadow: 0.1vw 0.1vw 1vw black;
}

.school-description {
    max-width: 100%;
    font-size: 3.5vw;
    font-weight: lighter;
    padding: 0vw 8.5vw 0vw;
    text-align: justify;
    line-height: 1.75em;
}

.description-header {
    font-weight: lighter;
    font-size: 4;
    padding-top: 3vw;
    padding-bottom: 3vw;
}

#ndsu {
    width: 48vw;
}

#chs {
    width: 35vw;
}

.morse {
    padding-bottom: 3vw;
}