* {
    margin: 0;
    padding: 0;
}

#fiv,
#tar,
#nds,
#aig,
#mar {
    transition: all 1.5s ease;
    filter: grayscale(2) contrast(1.25) opacity(0.75);
}

.icon-container {
    background-color: transparent;
    max-width: 100vw;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.five-guys {
    position: relative;
    max-width: 100%;
    width: 16vw;
    border-radius: 5vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

.target {
    position: relative;
    max-width: 100%;
    width: 16vw;
    border-radius: 5vw;
    background-color: white;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

.ndsu {
    position: relative;
    max-width: 100%;
    width: 16vw;
    border-radius: 5vw;
    background-color: transparent;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

.aigen {
    position: relative;
    max-width: 100%;
    width: 16vw;
    border-radius: 5vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

.marvin-composites {
    position: relative;
    max-width: 100%;
    width: 16vw;
    border-radius: 5vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

#experience-bar {
    position: absolute;
    color: white;
    font-size: 3vw;
    font-weight: lighter;
    bottom: 2vw;
    left: -10vw;
    transition: left 2s ease;
}