.globe-img {
    position: relative;
    max-width: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
    border-radius: 15vw;
    background-color: transparent;
}

.main-container {
    position: relative;
    max-width: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
    border-radius: 15vw;
    background-color: blue;
}