* {
    margin: 0;
    padding: 0;
}

.main-container {
    position: relative;
    max-width: 100%;
    width: 100vw;
    height: 55vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15vw;
    background: rgb(18, 17, 17);
    overflow: hidden;
}

.dot-img {
    position: relative;
    max-width: 100%;
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    background-color: transparent;
    padding-top: 15vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    opacity: 100%;
    filter: brightness(71.75%) contrast(200%) invert();
    clip-path: inset(0 0 10vw 0);
    opacity: 80%;
    left: 0;
    transition: all 4s ease;
    z-index: 1;
}

#right,
#left {
    position: absolute;
    font-size: 5vw;
    color: white;
    transform: scaleY(2.25) scaleX(0.55) translateY(0.2vw);
    opacity: 60%;
    z-index: 5;
    text-shadow: 0.3vw 0.3vw 0.1vw black;
}

#right {
    right: 0.5vw;
}

#left {
    left: 0.5vw;
}