.header {
    max-width: 100%;
    display: flex;
    justify-content: center;
    font-style: bold;
    font-size: 6vw;
    line-height: 1em;
}

.resourceoptions {
    max-width: 100%;
}

.img-home {
    filter: grayscale(0.1) blur(0.5px) contrast(0.9) sepia(0.1) brightness(0.4);
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-img-text {
    font-size: 12vw;
    text-justify: center;
    color: rgb(220, 220, 220);
    text-shadow: 0vw 0vw 1vw black;
}