:root {
    --nav-background-color: white;
    --nav-text-color: black;
    --home-background-color: rgb(10, 10, 10);
    --home-header-color: white;
    --home-text-color: rgb(190, 190, 200);
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    font-family: bakersville;
    text-decoration: none;
    background-color: greenyellow;
}

/* NAVIGATION PAGE */
.off-screen-menu-container {
    z-index: 0;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    background-color: var(--nav-background-color);
}

.off-screen-buttons {
    position: relative;
    z-index: 1;
    padding-left: 5vw;
    display: flex;
    align-items: center;
}

.off-screen-buttons,
.off-screen-buttons ul,
.off-screen-buttons li,
.off-screen-buttons a,
.off-screen-buttons i {
    list-style-type: none;
    background-color: var(--nav-background-color);
    font-size: 6vw;
    font-weight: bold;
    line-height: 17vw;
    color: var(--nav-text-color);
}

/* HOME HEADERS */
.home-screen-container {
    position: relative;
    z-index: 2;
    min-height: 100vh;
    height: 100%;
}

.home-screen-container,
.home-header,
.home-screen-container p {
    background-color: var(--home-background-color);
    text-decoration: none;
    color: var(--home-text-color);
}

.home-header {
    position: relative;
    font-size: 8vw;
    font-weight: bold;
    text-align: center;
    display: block;
    padding-top: 7vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 7vw;
    color: var(--home-header-color);
}

.home-subheader {
    position: relative;
    font-size: 8vw;
    font-weight: lighter;
    text-align: center;
    display: block;
    padding-top: 2vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 3vw;
    background-color: transparent;
    text-decoration: none;
}

.img-home {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: 80vw;
    display: flex;
    justify-content: center;
    border-radius: 20vw;
    background-color: transparent;
}

.image-container {
    display: flex;
    justify-content: center;
    padding-top: 6vw;
    padding-bottom: 2vw;
    background-color: transparent;
}

/* HOME CONTENT */
.content-header {
    position: relative;
    z-index: 3;
    background-color: transparent;
    color: var(--home-header-color);
    font-size: 6vw;
    max-width: 100%;
    padding: 2vw 0 3vw;
    display: flex;
    justify-content: center;
}

.about,
.experience {
    background-color: transparent;
}

.experience {
    padding-bottom: 5vw;
}

.morse {
    position: relative;
    z-index: 3;
    background-color: transparent;
    max-width: 100%;
    font-size: 3.5vw;
    font-weight: lighter;
    display: block;
    padding: 2vw auto 2vw;
    display: flex;
    justify-content: center;
}

.content-text {
    position: relative;
    z-index: 3;
    max-width: 100%;
    font-size: 3.3vw;
    padding: 3vw 7vw 2vw;
    text-align: justify;
    line-height: 1.25em;
}

.globe-container {
    background: transparent;
    justify-content: center;
    max-width: 100%;
    width: 90vw;
    height: 67vw;
    display: flex;
    justify-content: center;
    padding-bottom: 3vw;
    margin-left: auto;
    margin-right: auto;
}

#globe-embed {
    background: transparent;
    max-width: 100%;
    width: 90vw;
    height: 100vw;
    padding-bottom: 10vw;
}

.figure-text {
    max-width: 100%;
    font-size: 3.3vw;
    text-align: center;
}

.experience-scroller-container {
    background: transparent;
    justify-content: center;
    max-width: 100%;
    width: 100vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    padding-bottom: 3vw;
    margin-left: auto;
    margin-right: auto;
}

#experience-embed {
    background: transparent;
    max-width: 100%;
    width: 80vw;
    height: 23vw;
    padding-bottom: 10vw;
}

/* SOCIAL MEDIA BAR */
.social-media-bar {
    position: relative;
    background-color: transparent;
    max-width: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.social-media-buttons,
.social-media-buttons ul,
.social-media-buttons li,
.social-media-buttons a,
.social-media-buttons i {
    position: relative;
    list-style-type: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    font-size: 6vw;
    color: var(--home-header-color);
    padding: 1vw 0.75vw 0vw;
}

.version-statement {
    font-size: 2.5vw;
    font-weight: lighter;
    text-align: center;
    padding-top: 6vw;
    padding-bottom: 6vw;
}

/* TEMP HOME SCREEN DISPLACEMENT */
.home-screen-container {
    left: 0vw;
}