:root {
    --nav-background-color: white;
    --nav-text-color: black;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    font-family: optima;
    text-decoration: none;
    background-color: darkblue;
}

/* NAVIGATION PAGE */
.off-screen-menu-container {
    z-index: 0;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    padding-left: 0vw;
    padding-right: 10vw;
    background-color: var(--nav-background-color);
    transition: all 1s ease;
}

.scrollbar {
    background-color: transparent;
    color: rgb(120, 120, 120);
    font-family: 'Courier New', Courier, monospace;
    font-size: 5vw;
    padding-left: 60vw;
    padding-bottom: 93vw;
    justify-content: left;
    transition: all 0.15s ease;
}

.nav-morse-container {
    position: relative;
    padding-left: 0vw;
    background-color: transparent;
    width: 7.5vw;
    text-align: center;
    transition: all 0.35s ease;
}

.nav-morse {
    background-color: transparent;
    transform: rotate(-90deg);
    font-size: 3vw;
    color: rgb(80, 80, 80);
    font-family: 'Courier New', Courier, monospace;
    width: 100vw;
    padding-bottom: 95vw;
}

.off-screen-buttons {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    transition: all 0.25s ease;
}

.off-screen-buttons,
.off-screen-buttons ul,
.off-screen-buttons li,
.off-screen-buttons a,
.off-screen-buttons i {
    list-style-type: none;
    background-color: transparent;
    font-size: 4.5vw;
    font-weight: lighter;
    line-height: 17vw;
    text-align: left;
    color: var(--nav-text-color);
}