.img-home {
    filter: grayscale(0.4) blur(0.5px) contrast(0.9) sepia(0.1) brightness(0.4);
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-img-text {
    font-size: 12vw;
    text-justify: center;
    color: rgb(220, 220, 220);
    text-shadow: 0vw 0vw 1vw black;
}

.projects {
    background-color: var(--home-background-color);
    padding-top: 0vw;
    padding-bottom: 5.5vw;
}

.project-grid {
    display: inline-grid;
    grid-template-columns: auto auto;
    max-width: 100%;
    width: 100vw;
    padding-top: 2.5vw;
    padding-bottom: 0vw;
    justify-content: center;
}

.skills-grid {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    gap: 2.5vw;
    max-width: 100%;
    width: 100vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    justify-content: center;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    font-size: 3.5vw;
    max-width: 100%;
    width: 45.5vw;
    height: 45vw;
    padding-bottom: 8vw;
    padding-top: 3vw;
    background-color: transparent;
}

.skill-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 2.55vw;
    max-width: 100%;
    width: 26vw;
    height: 17vw;
    background-color: rgb(17, 17, 17);
    border-radius: 5vw;
    text-align: center;
    padding-bottom: 2vw;
    color: rgb(180, 180, 190);
    padding-left: 2vw;
    padding-right: 2vw;
    filter: opacity(95%);
    scale: 90%;
    transition: all 1s ease;
}

.project-img {
    padding-top: 1.5vw;
    width: 35vw;
    border-radius: 4vw;
    opacity: 75%;
    display: flex;
}

.porticon {
    width: 8vw;
    height: auto;
    background: transparent;
    opacity: 68%;
    padding-top: 2.25vw;
    padding-bottom: 2.5vw;
    filter: invert();
}

.project-divider {
    padding-top: 2.5vw;
    font-size: 2.55vw;
    color: rgb(180, 180, 190);
}

.project-info {
    padding: 2.5vw 2vw 0vw;
    font-size: 2.55vw;
    color: rgb(180, 180, 190);
}

#creomotor,
#site,
#age {
    filter: grayscale(90%) opacity(90%);
    transition: all 1s ease;
}