.img-home {
    filter: brightness(50%);
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-img-text {
    font-size: 15vw;
    text-justify: center;
    color: white;
}

.skills {
    background-color: var(--home-background-color);
    padding-top: 5vw;
}

.projects {
    background-color: var(--home-background-color);
    padding-top: 5vw;
}

.project-grid {
    display: inline-grid;
    grid-template-columns: auto auto;
    gap: 2.5vw;
    max-width: 100%;
    width: 100vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    justify-content: center;
}

.skills-grid {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    gap: 3vw;
    max-width: 100%;
    width: 100vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    justify-content: center;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 5vw;
    max-width: 100%;
    width: 45vw;
    height: 51vw;
    background-color: transparent;
}

.skill-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    max-width: 100%;
    width: 10vw;
    height: 10vw;
    background-color: white;
    border-top-left-radius: 2.5vw;
}

.project-img {
    padding-top: 1.5vw;
    width: 42vw;
    border-top-left-radius: 10vw;
    display: flex;
}

.porticon {
    width: 8vw;
    height: 8vw;
    background: transparent;
}