.img-home {
    filter: grayscale(0.4) blur(0.5px) contrast(0.9) sepia(0.1) brightness(0.4);
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-img-text {
    font-size: 12vw;
    text-justify: center;
    color: rgb(220, 220, 220);
    text-shadow: 0vw 0vw 1vw black;
}

.projects {
    background-color: var(--home-background-color);
    padding-top: 0vw;
    padding-bottom: 5.5vw;
}

.project-grid {
    display: inline-grid;
    grid-template-columns: auto auto;
    max-width: 100%;
    width: 100vw;
    padding-top: 2.5vw;
    padding-bottom: 0vw;
    justify-content: center;
}

.skills-grid {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    gap: 2.5vw;
    max-width: 100%;
    width: 100vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    justify-content: center;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    font-size: 3.5vw;
    max-width: 100%;
    width: 45.5vw;
    height: 45vw;
    padding-bottom: 8vw;
    padding-top: 3vw;
    background-color: transparent;
}

.skill-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 2.55vw;
    max-width: 100%;
    width: 26vw;
    height: 17vw;
    background-color: transparent;
    text-align: center;
    padding-bottom: 2vw;
    color: rgb(180, 180, 190);
    padding-left: 2vw;
    padding-right: 2vw;
    filter: opacity(95%);
    scale: 90%;
    transition: all 1s ease;
}

.project-img {
    padding-top: 1.5vw;
    width: 35vw;
    border-radius: 4vw;
    opacity: 75%;
    display: flex;
}

.porticon {
    width: 8vw;
    height: auto;
    background: transparent;
    opacity: 68%;
    padding-top: 2.25vw;
    padding-bottom: 2.5vw;
    filter: invert();
}

.project-divider {
    padding-top: 2.5vw;
    font-size: 2.55vw;
    color: rgb(180, 180, 190);
}

.project-info {
    padding: 2.5vw 2vw 0vw;
    font-size: 2.55vw;
    color: rgb(180, 180, 190);
}

#creomotor,
#site,
#age {
    filter: grayscale(90%) opacity(90%);
    transition: all 1s ease;
}

@media (min-width: 768px) {
    #desktop-port-container {
        display: flex;
    }

    .img-home {
        filter: grayscale(0.4) blur(0.5px) contrast(0.9) sepia(0.1) brightness(0.4);
        top: 15vw;
        z-index: 5;
    }

    .imglong1 {
        filter: grayscale(0.4) blur(0.5px) contrast(0.9) sepia(0.1) brightness(0.3);
        position: absolute;
        z-index: 4;
        max-width: 100%;
        width: 25vw;
        margin-top: 0vw;
        left: 24.5vw;
        top: 17vw;
        display: flex;
        justify-content: center;
        background-color: transparent;
        transition: padding 2s ease;
    }

    .imglong2 {
        filter: grayscale(0.4) blur(0.5px) contrast(0.9) sepia(0.1) brightness(0.2);
        top: 15vw;
        position: absolute;
        z-index: 3;
        max-width: 100%;
        width: 20vw;
        margin-top: 0vw;
        top: 19vw;
        left: 38.5vw;
        display: flex;
        justify-content: center;
        background-color: transparent;
        transition: padding 2s ease;
    }

    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 55vw;
        height: 49.5vw;
    }

    .header-img-text {
        z-index: 6;
        padding-bottom: 5vw;
        font-size: 9vw;
        padding-left: 15.05vw;
        text-justify: center;
        color: rgb(220, 220, 220);
        text-shadow: 0vw 0vw 1vw black;
    }

    .top-topic {
        padding-top: 0vw;
        padding-left: 8.5vw;
        width: 45vw;
    }

    .skills-grid {
        display: inline-grid;
        grid-template-columns: auto auto auto;
        gap: 0vw;
        max-width: 100%;
        width: 45vw;
        padding-top: 0.25vw;
        padding-bottom: 0vw;
        justify-content: center;
    }

    .skill-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        font-size: 1vw;
        max-width: 100%;
        width: 11vw;
        height: 5vw;
        background-color: transparent;
        text-align: center;
        padding-bottom: 2vw;
        color: rgb(180, 180, 190);
        padding-left: 0vw;
        padding-right: 0vw;
        filter: opacity(95%);
        scale: 90%;
        transition: all 1s ease;
    }

    .porticon {
        width: 3vw;
        height: auto;
        background: transparent;
        opacity: 68%;
        padding-top: 2.25vw;
        padding-bottom: 1vw;
        filter: invert();
    }

    .projects {
        background-color: var(--home-background-color);
        padding-top: 0vw;
        padding-bottom: 5.5vw;
        width: 60vw;
    }

    .project-grid {
        display: inline-grid;
        grid-template-columns: auto auto;
        width: 60vw;
        padding-top: 0vw;
        padding-bottom: 0vw;
        justify-content: center;
    }

    .project-img {
        padding-top: 0vw;
        width: 17vw;
        border-radius: 1.5vw;
        opacity: 75%;
        display: flex;
    }

    .project-divider {
        padding-top: 1.5vw;
        font-size: 1.15vw;
        color: rgb(180, 180, 190);
    }

    .project-info {
        padding: 1.25vw 2vw 0vw;
        font-size: 1.25vw;
        color: rgb(180, 180, 190);
    }

    .grid-item {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        text-align: center;
        font-size: 3.5vw;
        max-width: 100%;
        width: 22vw;
        height: 18vw;
        padding-bottom: 5vw;
        padding-top: 3vw;
        background-color: transparent;
    }

    /* SUBPAGE */
    .denier {
        background: transparent;
        width: 0vw;
        height: 0vh;
        opacity: 0%;
    }

    .subpage-limiter {
        height: 0vh;
    }

    .subpage {
        position: relative;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(100vw) translateY(80.5vw);
        justify-content: center;
        width: 50vw;
        height: 0vw;
        transition: all 3s ease;
        overflow-y: visible;
        z-index: 3;
    }

    #subpage-embed {
        max-width: 100%;
        width: 80vw;
        height: 50vw;
        border-radius: 1.5vw;
        transform: translateX(0vw);
    }

    .desktop-subpage-limiter {
        height: 0vh;
    }

    .desktop-subpage {
        position: relative;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(100vw) translateY(0);
        justify-content: center;
        width: 50vw;
        height: 0vw;
        transition: all 3s ease;
        overflow-y: visible;
        z-index: 3;
    }

    #desktop-subpage-embed {
        max-width: 100%;
        width: 80vw;
        height: 50vw;
        border-radius: 1.5vw;
        transform: translateX(0vw);
    }

    .remove-scrollbar {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .remove-scrollbar iframe {
        width: 100%;
        height: 100%;
        padding-left: 4vw;
    }
}