/* GENERAL */
:root {
    --maincolor: rgb(200, 200, 200);
    --textcolor: rgb(150, 150, 150);
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    font-family: bakersville;
    text-decoration: none;
    background-color: greenyellow;
}

.header {
    max-width: 100%;
    display: flex;
    justify-content: center;
    font-style: bold;
    font-size: 6vw;
    line-height: 1em;
}

.resourceoptions {
    max-width: 100%;
}