/* GENERAL */
:root {
    --maincolor: rgb(200, 200, 200);
    --textcolor: rgb(150, 150, 150);
}

* {
    font-family: baskerville;
    text-decoration: none;
    color : var(--maincolor);
    background-color: rgb(15, 15, 15); 
}

.morse {
    max-width: 100%;
    font-size: 3vw;
    display: block;
    margin-top: -2vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;

}

/* TOP NAVIGATION BAR */
.header {
    text-align: center;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 7vw;
}

.navbar {
    overflow: hidden;
}

.navbar a {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a.active {
    background-color: gray;
    color: white;
}

li {
    list-style: none;
    display: none;
}

li a {
    color: var(--textcolor);
    font-size: 18px;
    font-weight: bold;
}

.wrapper {
    max-width: 100%;
    margin: 0 auto;
}

/* ABSTRACT */
.img-abstract {
    max-width: 100%;
    width: 80vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7vw;
    border-radius: 20vw;
}

.abstract h2 {
    max-width: 100%;
    display: flex;
    justify-content: center;
    font-style: bold;
    font-size: 5.5vw;
    line-height: 0.3em;
}

.abstract p {
    max-width: 100%;
    width: 80vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-style: bold;
    font-size: 3.3vw;
    text-align: justify;
    line-height: 1.25em;
    color : var(--textcolor);
}

/* EXPERIENCE */
.experience h2 {
    max-width: 100%;
    display: flex;
    justify-content: center;
    font-style: bold;
    font-size: 5.5vw;
    line-height: 0.3em;
}

.experience p {
    max-width: 100%;
    width: 80vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-style: bold;
    font-size: 3.3vw;
    text-align: justify;
    line-height: 1.25em;
    color : var(--textcolor);
}

/* PROJECTS */
.projects h2 {
    max-width: 100%;
    display: flex;
    justify-content: center;
    font-style: bold;
    font-size: 5.5vw;
    line-height: 0.3em;
}


.projects p {
    max-width: 100%;
    width: 80vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-style: bold;
    font-size: 3.3vw;
    text-align: justify;
    line-height: 1.25em;
    color : var(--textcolor);
}